{% extends 'core/base.html' %}
{% load static %}



{% block content %}

<div class="ContainerP1">
    <h2>Nuestros Patrocinadores</h2>
    <div class="upper-row">
        <div class="sponsor">
            <img src="{% static 'core/assets/imgPatrocinadores/TFI Logo.png' %}" alt="patrocinador1">
        </div>
        <div class="sponsor">
            <img src="{% static 'core/assets/imgPatrocinadores/Logo Multiservices 2.jpeg' %}" alt="patrocinador2">
        </div>
    </div>
    <div class="lower-row">
        <div class="sponsor">
            <img src="{% static 'core/assets/imgPatrocinadores/LVAE_Circle_LOGO.png' %}" alt="patrocinador3">
        </div>
        <div class="sponsor">
            <img src="{% static 'core/assets/imgPatrocinadores/FJ-Logo_Circle.png' %}" alt="patrocinador4">
        </div>
    </div>
</div>




{% endblock %}