{% extends 'core/base.html' %}
{% load static %}


{% block content %}
<br>
<div class="containerEventos">
    <div class="row">
        <div class="col-md-12 text-center">
            <h2>Eventos</h2>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-6 offset-md-3 text-center">
            <img src="{% static 'core/assets/img/informaciones.png' %}" class="img-fluid rounded" alt="Evento Imagen" style="max-width: 100%;">
        </div>
    </div>

    <!-- Puedes agregar más contenido relacionado con eventos aquí -->

</div>
<br>
{% endblock %}