{% extends 'core/base.html' %}
{% load static %}



{% block content %}
<!-- DE AQUI ESCRIBIR CODIGOS NUEVOS :D -->
<br><br><br>
<!-- Contenido de la Galería -->
<section class="gallery">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading text-uppercase">Galería de Imagenes</h2>
            </div>
        </div>
        <br>
        <div class="row grid">
            <div class="col-md-4 col-sm-6 gallery-item">
                <a href="{% static 'core/assets/imgGaleria/img1.webp' %}" data-lightbox="gallery" data-title="Descripción de la imagen 1">
                    <img class="img-fluid" src="{% static 'core/assets/imgGaleria/img1.webp' %}" alt="Imagen 1">
                </a>
            </div>
            <div class="col-md-4 col-sm-6 gallery-item">
                <a href="{% static 'core/assets/imgGaleria/img5.webp' %}" data-lightbox="gallery" data-title="Descripción de la imagen 2">
                    <img class="img-fluid" src="{% static 'core/assets/imgGaleria/img5.webp' %}" alt="Imagen 2">
                </a>
            </div>
            <div class="col-md-4 col-sm-6 gallery-item">
                <a href="{% static 'core/assets/imgGaleria/imG.png' %}" data-lightbox="gallery" data-title="Descripción de la imagen 3">
                    <img class="img-fluid" src="{% static 'core/assets/imgGaleria/imG.png' %}" alt="Imagen 3">
                </a>
            </div>
            <div class="col-md-4 col-sm-6 gallery-item">
                <a href="{% static 'core/assets/imgGaleria/imG1.png' %}" data-lightbox="gallery" data-title="Descripción de la imagen 4">
                    <img class="img-fluid" src="{% static 'core/assets/imgGaleria/imG1.png' %}" alt="Imagen 4">
                </a>
            </div>
            <div class="col-md-4 col-sm-6 gallery-item">
                <a href="{% static 'core/assets/imgGaleria/imG2.png' %}" data-lightbox="gallery" data-title="Descripción de la imagen 5">
                    <img class="img-fluid" src="{% static 'core/assets/imgGaleria/imG2.png' %}" alt="Imagen 5">
                </a>
            </div>
            <div class="col-md-4 col-sm-6 gallery-item">
                <a href="{% static 'core/assets/imgGaleria/imG3.png' %}" data-lightbox="gallery" data-title="Descripción de la imagen 6">
                    <img class="img-fluid" src="{% static 'core/assets/imgGaleria/imG3.png' %}" alt="Imagen 6">
                </a>
            </div>
            <div class="col-md-4 col-sm-6 gallery-item">
                <a href="{% static 'core/assets/imgGaleria/imG4.png' %}" data-lightbox="gallery" data-title="Descripción de la imagen 7">
                    <img class="img-fluid" src="{% static 'core/assets/imgGaleria/imG4.png' %}" alt="Imagen 7">
                </a>
            </div>
            <div class="col-md-4 col-sm-6 gallery-item">
                <a href="{% static 'core/assets/imgGaleria/imG5.png' %}" data-lightbox="gallery" data-title="Descripción de la imagen 8">
                    <img class="img-fluid" src="{% static 'core/assets/imgGaleria/imG5.png' %}" alt="Imagen 8">
                </a>
            </div>
            <div class="col-md-4 col-sm-6 gallery-item">
                <a href="{% static 'core/assets/imgGaleria/imG6.png' %}" data-lightbox="gallery" data-title="Descripción de la imagen 9">
                    <img class="img-fluid" src="{% static 'core/assets/imgGaleria/imG6.png' %}" alt="Imagen 9">
                </a>
            </div>
            <div class="col-md-4 col-sm-6 gallery-item">
                <a href="{% static 'core/assets/imgGaleria/imG7.png' %}" data-lightbox="gallery" data-title="Descripción de la imagen 10">
                    <img class="img-fluid" src="{% static 'core/assets/imgGaleria/imG7.png' %}" alt="Imagen 10">
                </a>
            </div>
            <div class="col-md-4 col-sm-6 gallery-item">
                <a href="{% static 'core/assets/imgGaleria/imG8.png' %}" data-lightbox="gallery" data-title="Descripción de la imagen 11">
                    <img class="img-fluid" src="{% static 'core/assets/imgGaleria/imG8.png' %}" alt="Imagen 11">
                </a>
            </div>
            <div class="col-md-4 col-sm-6 gallery-item">
                <a href="{% static 'core/assets/imgGaleria/imG9.png' %}" data-lightbox="gallery" data-title="Descripción de la imagen 12">
                    <img class="img-fluid" src="{% static 'core/assets/imgGaleria/imG9.png' %}" alt="Imagen 12">
                </a>
            </div>
            <div class="grid-sizer col-md-4 col-sm-6"></div>
        </div>
    </div>
</section>
<br><br><br>


{% endblock %}