{% extends 'core/base.html' %}
{% load static %}



{% block content %}

    <div class="containerG">
        <h2>Galería de Imágenes</h2>
        <div class="gallery">
            <div class="image">
                <img src="{% static 'core/assets/imgGaleria/img1.webp' %}" alt="Imagen 1">
            </div>
            <div class="image">
                <img src="{% static 'core/assets/imgGaleria/img5.webp' %}" alt="Imagen 1">
            </div>
            <div class="image">
                <img src="{% static 'core/assets/imgGaleria/imG.png' %}" alt="Imagen 1">
            </div>
            <div class="image">
                <img src="{% static 'core/assets/imgGaleria/imG1.png' %}" alt="Imagen 1">
            </div>
            <div class="image">
                <img src="{% static 'core/assets/imgGaleria/imG2.png' %}" alt="Imagen 1">
            </div>
            <div class="image">
                <img src="{% static 'core/assets/imgGaleria/imG3.png' %}" alt="Imagen 1">
            </div>
            <div class="image">
                <img src="{% static 'core/assets/imgGaleria/imG4.png' %}" alt="Imagen 1">
            </div>
            <div class="image">
                <img src="{% static 'core/assets/imgGaleria/imG5.png' %}" alt="Imagen 1">
            </div>
            <div class="image">
                <img src="{% static 'core/assets/imgGaleria/imG6.png' %}" alt="Imagen 1">
            </div>
            <div class="image">
                <img src="{% static 'core/assets/imgGaleria/imG7.png' %}" alt="Imagen 1">
            </div>
            <div class="image">
                <img src="{% static 'core/assets/imgGaleria/imG8.png' %}" alt="Imagen 1">
            </div>
            <div class="image">
                <img src="{% static 'core/assets/imgGaleria/imG9.png' %}" alt="Imagen 1">
            </div>
            <!-- Agrega más imágenes según sea necesario -->
        </div>
    </div>




{% endblock %}