{% extends 'core/base.html' %}
{% load static %}


{% block content %}

<div class="login-container">
    
    <div class="login-heading">
        <h2>Iniciar Sesión</h2>
        <div class="text-center ms-auto" style="margin-left: 30px;"> <!-- Añadido margen izquierdo -->
            <img src="{% static 'core/assets/img/apoyo.jpg' %}" class="img-fluid" alt="Tu Imagen" style="max-width: 150px;">
        </div>
        <br>
    </div>
    <div class="tab-content" id="tab-content">
        <div class="tab-pane fade show active" id="navbarLogin-login" role="tabpanel">
            <form id="login" class="text-center" action="{% url 'login' %}" method="POST">
                {% csrf_token %}
                
                <div class="form-outline form-auth-md mb-4">
                    <label class="form-label" style="text-dark">Nombre:</label>
                    {{ loginForm.nombre }}
                </div>
                
                
                <div class="form-outline form-auth-md mb-4">
                    
                    <label class="form-label" style="margin-left: 0px;">Correo Electronico:</label>
                    {{ loginForm.correo }}
                </div>
                

                <div class="form-outline form-auth-md mb-4">

                    <label class="form-label" style="margin-left: 0px;">Contraseña:</label>
                    {{ loginForm.password }}
                </div>
                <button type="submit" class="btn btn-primary btn-block mb-4">Iniciar</button>
            </form>
        </div>
    </div>
</div>
<br><br><br><br><br><br><br><br><br><br><br><br><br>


{% endblock %}