{% extends "admin/base_site.html" %}
{% load i18n static %}

{% block extrastyle %} {{ block.super }} <link rel="stylesheet" href="{% static 'admin/css/stats.css' %}"> {% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}{{ block.super }} dashboard{% endblock %}

{% block nav-breadcrumbs %}{% endblock %}

{% block nav-sidebar %}{% endblock %}

{% block content %}
<div id="content-main">
  <div class="card_inicio">
    <div class="card">
      <div class="card-header">
        Vista General
      </div>
      <div class="card-body">
        <div class="container">
          <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12 bootCols">
              <div class="stats-block">
                <div class="col">
                  <div class="stats-block2">
                    <div class="card card-stats mb-4 mb-xl-0">
                      <div class="card-body2">
                        <div class="row">
                          <div class="col">
                            <h4 class="card-title text-uppercase text-muted mb-0">Usuarios</h4>
                            <span class="h2 font-weight-bold mb-0">{{countUser}}</span>
                          </div>
                            <div class="col-auto">
                                <h3><i class="fa-solid fa-user"></i></h3>
                            </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="stats-block">
                <div class="col">
                  <div class="stats-block2">
                    <div class="card card-stats mb-4 mb-xl-0">
                      <div class="card-body2">
                        <div class="row">
                          <div class="col">
                            <h4 class="card-title text-uppercase text-muted mb-0">Eventos</h4>
                            <span class="h2 font-weight-bold mb-0">{{countEven}}</span>
                          </div>
                            <div class="col-auto">
                                <h3><i class="fa-solid fa-calendar-days"></i></h3>
                            </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="stats-block">
                <div class="col">
                  <div class="stats-block2">
                    <div class="card card-stats mb-4 mb-xl-0">
                      <div class="card-body2">
                        <div class="row">
                          <div class="col">
                            <h4 class="card-title text-uppercase text-muted mb-0">Mensajes</h4>
                            <span class="h2 font-weight-bold mb-0">{{countMes}}</span>
                          </div>
                            <div class="col-auto">
                                <h3><i class="fa-solid fa-envelope"></i></h3>
                            </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="stats-block">
                <div class="col">
                  <div class="stats-block2">
                    <div class="card card-stats mb-4 mb-xl-0">
                      <div class="card-body2">
                        <div class="row">
                          <div class="col">
                            <h4 class="card-title text-uppercase text-muted mb-0">Traffic</h4>
                            <span class="h2 font-weight-bold mb-0">350,897</span>
                          </div>
                            <div class="col-auto">
                                <h3><i class="fa-solid fa-wrench"></i></h3>
                              </div>
                            </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



  <div class="card">
    <div class="card-header d-flex justify-content-between">
      Ultimas Actividades
      <a href="/activity/">Ver Actividad</a>
    </div>
    <div class="card-body px-0 pt-0">
      <table class="table">
        <thead>
          <tr>
            <th class="col-3">Registro</th>
            <th scope="col">Actividad</th>
          </tr>
        </thead>
        <tbody>
          {% for ac in act|slice:":3" %}
          <tr>
            <td>{{ac.created}}</td>
            <td>{{ac.sender}} {{ac.verb}} </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}


{% block content_title %}{% if title %}
<h1><i class="fa-solid fa-wrench"></i> Panel de Control</h1>
{% endif %}{% endblock %}